body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: linear-gradient(to bottom, #caecfc 0%, #ddfdfe0d 90%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  box-sizing: border-box;
  transition: all 0.4s ease;
  z-index: 1000;
}

/* Ẩn header khi cuộn xuống */
.header.hide {
  top: -100px;
  opacity: 0;
}

/* Hiện lại header khi cuộn lên */
.header.show {
  top: 0;
  opacity: 1;
}


.logo img {
  height: 90px;
  width: auto;
  margin-left: -20px;
  margin-top:5px;
}


.navbar {
  display: flex;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  position: relative;
  transition: color 0.3s;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top:50px;
  
}

.navbar a:hover {
  color: #003860;
  text-decoration: underline;
}


.search {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #020f1c;
  font-size: 15px;
  cursor: pointer;
  gap: 15px;
  margin-top:50px;
  
}
.search svg {
    width: 18px;           /* nhỏ lại */
    height: 18px;
    stroke: #090909;
}


@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');
